@import url("https://fonts.googleapis.com/css2?family=Sora:wght@300;400;500;600;700&display=swap");
/*
0 - 600px:      Phone
600 - 900px:    Tablet portrait
900 - 1200px:   Tablet landscape
[1200 - 1800] is where our normal styles apply
1800px + :      Big desktop

$breakpoint arguement choices:
- phone
- tab-port
- tab-land
- desktop
- big-desktop

1em = 16px
*/
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-family: "Sora", sans-serif;
  overflow-x: hidden;
  font-size: 62.5%;
}
@media only screen and (max-width: 75em) {
  html {
    font-size: 56.25%;
  }
}
@media only screen and (max-width: 56.25em) {
  html {
    font-size: 50%;
  }
}
@media only screen and (min-width: 130.5em) {
  html {
    font-size: 75%;
  }
}

body {
  box-sizing: border-box;
  font-size: 1.6rem;
  overflow-x: hidden;
}

.styled__btn-green {
  position: relative;
  display: inline-block;
  cursor: pointer;
  outline: none;
  border: 0;
  vertical-align: middle;
  text-decoration: none;
  font-size: inherit;
  font-family: inherit;
  font-weight: 600;
  color: #41a677;
  text-transform: uppercase;
  padding: 2rem 4rem;
  background: white;
  border: 2px solid #41a677;
  border-radius: 0.75em;
  transform-style: preserve-3d;
  transition: transform 150ms cubic-bezier(0, 0, 0.58, 1), background 150ms cubic-bezier(0, 0, 0.58, 1);
}
@media only screen and (max-width: 95em) {
  .styled__btn-green {
    padding: 1rem 2rem;
  }
}
.styled__btn-green::before {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: white;
  border-radius: inherit;
  box-shadow: 0 0 0 2px #41a677, 0 0.1em 0 0 #41a677;
  transform: translate3d(0, 0.75em, -1em);
  transition: transform 150ms cubic-bezier(0, 0, 0.58, 1), box-shadow 150ms cubic-bezier(0, 0, 0.58, 1);
}
.styled__btn-green:hover {
  color: white;
  background: #41a677;
  transform: translate(0, 0.25em);
}
.styled__btn-green:hover::before {
  box-shadow: 0 0 0 2px #41a677, 0 0.1em 0 0 #41a677;
  transform: translate3d(0, 0.5em, -1em);
}
.styled__btn-green:active {
  background: #41a677;
  transform: translate(0em, 0.75em);
}
.styled__btn-green:active::before {
  box-shadow: 0 0 0 2px white, 0 0 #41a677;
  transform: translate3d(0, 0, -1em);
}

.styled__btn-blue {
  position: relative;
  display: inline-block;
  cursor: pointer;
  outline: none;
  border: 0;
  vertical-align: middle;
  text-decoration: none;
  font-size: inherit;
  font-family: inherit;
  font-weight: 600;
  color: #262633;
  text-transform: uppercase;
  padding: 2rem 4rem;
  background: white;
  border: 2px solid #262633;
  border-radius: 0.75em;
  transform-style: preserve-3d;
  transition: transform 150ms cubic-bezier(0, 0, 0.58, 1), background 150ms cubic-bezier(0, 0, 0.58, 1);
}
@media only screen and (max-width: 95em) {
  .styled__btn-blue {
    padding: 1rem 2rem;
  }
}
.styled__btn-blue::before {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: white;
  border-radius: inherit;
  box-shadow: 0 0 0 2px #262633, 0 0.1em 0 0 #262633;
  transform: translate3d(0, 0.75em, -1em);
  transition: transform 150ms cubic-bezier(0, 0, 0.58, 1), box-shadow 150ms cubic-bezier(0, 0, 0.58, 1);
}
.styled__btn-blue:hover {
  color: white;
  background: #262633;
  transform: translate(0, 0.25em);
}
.styled__btn-blue:hover::before {
  box-shadow: 0 0 0 2px #262633, 0 0.1em 0 0 #262633;
  transform: translate3d(0, 0.5em, -1em);
}
.styled__btn-blue:active {
  background: #262633;
  transform: translate(0em, 0.75em);
}
.styled__btn-blue:active::before {
  box-shadow: 0 0 0 2px white, 0 0 #262633;
  transform: translate3d(0, 0, -1em);
}

.styled__btn-biege {
  position: relative;
  display: inline-block;
  cursor: pointer;
  outline: none;
  border: 0;
  vertical-align: middle;
  text-decoration: none;
  font-size: inherit;
  font-family: inherit;
  font-weight: 600;
  color: #a7866d;
  text-transform: uppercase;
  padding: 2rem 4rem;
  background: white;
  border: 2px solid #a7866d;
  border-radius: 0.75em;
  transform-style: preserve-3d;
  transition: transform 150ms cubic-bezier(0, 0, 0.58, 1), background 150ms cubic-bezier(0, 0, 0.58, 1);
}
@media only screen and (max-width: 95em) {
  .styled__btn-biege {
    padding: 1rem 2rem;
  }
}
.styled__btn-biege::before {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: white;
  border-radius: inherit;
  box-shadow: 0 0 0 2px #a7866d, 0 0.1em 0 0 #a7866d;
  transform: translate3d(0, 0.75em, -1em);
  transition: transform 150ms cubic-bezier(0, 0, 0.58, 1), box-shadow 150ms cubic-bezier(0, 0, 0.58, 1);
}
.styled__btn-biege:hover {
  color: white;
  background: #a7866d;
  transform: translate(0, 0.25em);
}
.styled__btn-biege:hover::before {
  box-shadow: 0 0 0 2px #a7866d, 0 0.1em 0 0 #a7866d;
  transform: translate3d(0, 0.5em, -1em);
}
.styled__btn-biege:active {
  background: #a7866d;
  transform: translate(0em, 0.75em);
}
.styled__btn-biege:active::before {
  box-shadow: 0 0 0 2px white, 0 0 #a7866d;
  transform: translate3d(0, 0, -1em);
}

.styled__btn-rooftop {
  position: relative;
  display: inline-block;
  cursor: pointer;
  outline: none;
  border: 0;
  vertical-align: middle;
  text-decoration: none;
  font-size: inherit;
  font-family: inherit;
  font-weight: 600;
  color: #192639;
  text-transform: uppercase;
  padding: 2rem 4rem;
  background: white;
  border: 2px solid #192639;
  border-radius: 0.75em;
  transform-style: preserve-3d;
  transition: transform 150ms cubic-bezier(0, 0, 0.58, 1), background 150ms cubic-bezier(0, 0, 0.58, 1);
}
@media only screen and (max-width: 95em) {
  .styled__btn-rooftop {
    padding: 1rem 2rem;
  }
}
.styled__btn-rooftop::before {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: white;
  border-radius: inherit;
  box-shadow: 0 0 0 2px #192639, 0 0.1em 0 0 #192639;
  transform: translate3d(0, 0.75em, -1em);
  transition: transform 150ms cubic-bezier(0, 0, 0.58, 1), box-shadow 150ms cubic-bezier(0, 0, 0.58, 1);
}
.styled__btn-rooftop:hover {
  color: white;
  background: #192639;
  transform: translate(0, 0.25em);
}
.styled__btn-rooftop:hover::before {
  box-shadow: 0 0 0 2px #192639, 0 0.1em 0 0 #192639;
  transform: translate3d(0, 0.5em, -1em);
}
.styled__btn-rooftop:active {
  background: #192639;
  transform: translate(0em, 0.75em);
}
.styled__btn-rooftop:active::before {
  box-shadow: 0 0 0 2px white, 0 0 #192639;
  transform: translate3d(0, 0, -1em);
}

.footer {
  background-color: black;
  padding: 0 3rem 2rem 3rem;
  overflow-x: hidden;
}
@media only screen and (max-width: 37.5em) {
  .footer {
    padding: 1rem;
  }
}
.footer__container {
  background-color: white;
  border-radius: 50px;
  padding: 0 2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
}
.footer__logo {
  width: 10rem;
  height: 10rem;
  margin-right: 1rem;
}
@media only screen and (max-width: 37.5em) {
  .footer__logo {
    margin-right: 3px;
    width: 5rem;
    height: 5rem;
  }
}
.footer__logo-container {
  display: flex;
  align-items: center;
  width: 50%;
  font-weight: 700;
  font-size: 2rem;
}
@media only screen and (max-width: 37.5em) {
  .footer__logo-container {
    font-size: 1.3rem;
  }
}
.footer__text {
  text-transform: capitalize;
  font-size: 2rem;
}
@media only screen and (max-width: 37.5em) {
  .footer__text {
    width: 50%;
    font-size: 1.6rem;
    font-size: 1.6rem;
  }
}
.footer__text span {
  font-weight: 700;
}

.header {
  width: 75%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem 0;
  overflow-x: hidden;
}
@media only screen and (max-width: 37.5em) {
  .header {
    width: 85%;
  }
}
@media only screen and (max-width: 37.5em) {
  .header {
    display: flex;
  }
}
.header__list {
  list-style: none;
  display: flex;
}
.header__list-item {
  text-transform: capitalize;
  font-weight: 600;
  font-size: 2rem;
  cursor: pointer;
  transition: all 0.3s;
  color: black;
}
@media only screen and (max-width: 56.25em) {
  .header__list-item {
    font-size: 1.6rem;
  }
}
.header__list-item:hover {
  text-shadow: 4px 4px 11px rgba(0, 191, 99, 0.64);
}
.header__list-item:not(:last-child) {
  margin-right: 4rem;
}
@media only screen and (max-width: 56.25em) {
  .header__list-item:not(:last-child) {
    margin-right: 1rem;
  }
}
.header__list-link {
  color: black;
  text-decoration: none;
}
.header__btn {
  background-color: black;
  border-radius: 4px;
  border: 2px solid black;
  padding: 1.5rem 2rem;
  transition: all 0.3s;
  cursor: pointer;
  display: flex;
  align-items: center;
  color: white;
}
@media only screen and (max-width: 56.25em) {
  .header__btn {
    padding: 1rem;
  }
}
.header__btn:hover {
  background-color: white;
  border: 2px solid black;
}
.header__btn:hover .header__link {
  color: black;
}
.header__icon {
  margin-left: 1rem;
  width: 3rem;
  height: 3rem;
}
.header__link {
  color: white;
  transition: all 0.3s;
  font-size: 2rem;
  font-weight: 600;
  letter-spacing: 1px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.header__logo {
  width: 10rem;
  height: 10rem;
}
.header__logo-container {
  display: flex;
  align-items: center;
}
.header__title {
  font-size: 1.6rem;
  width: 10rem;
  margin-left: 1rem;
}
.header__menu {
  background-color: rgba(237, 237, 237, 0.8);
  height: 100vh;
  width: 70vw;
  position: absolute;
  right: -100%;
  top: 0;
  z-index: 2;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.header__menu-list {
  list-style: none;
}
.header__menu-list-item {
  margin: 2rem 0;
}
.header__menu-list-link {
  text-decoration: none;
  color: black;
  font-size: 3rem;
  text-transform: capitalize;
  font-weight: 500;
}

.burger__list {
  display: none;
}
.burger__btn {
  background-color: black;
  border-radius: 4px;
  border: 2px solid black;
  padding: 1.5rem 2rem;
  transition: all 0.3s;
  cursor: pointer;
  display: flex;
  align-items: center;
  color: white;
}
.burger__btn:hover {
  background-color: white;
  border: 2px solid black;
}
.burger__btn:hover .header__link {
  color: black;
}
.burger__icon {
  margin-left: 1rem;
  width: 3rem;
  height: 3rem;
}
.burger__link {
  color: white;
  transition: all 0.3s;
  font-size: 2rem;
  font-weight: 600;
  letter-spacing: 1px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.burger__list {
  position: absolute;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(82, 82, 82, 0.7);
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 0 10rem;
  list-style: none;
  z-index: 2;
}
.burger__list-item {
  font-size: 3.5rem;
  font-weight: 700;
  text-transform: capitalize;
  margin: 1rem 0;
}
.burger__list__icon {
  margin-left: 1rem;
  width: 3rem;
  height: 3rem;
}

.ham {
  position: relative;
  z-index: 5;
  display: none;
}

.ham3 .top {
  stroke-dasharray: 40 130;
}

.ham3 .middle {
  stroke-dasharray: 40 140;
}

.ham3 .bottom {
  stroke-dasharray: 40 205;
}

.ham3.active .top {
  stroke-dasharray: 75 130;
  stroke-dashoffset: -63px;
}

.ham3.active .middle {
  stroke-dashoffset: -102px;
}

.ham3.active .bottom {
  stroke-dasharray: 110 205;
  stroke-dashoffset: -86px;
}

@media screen and (max-width: 600px) {
  .header__list {
    display: none;
  }
  .ham {
    display: block;
  }
  .burger-menu {
    display: block;
  }
  .header__btn-container {
    display: none;
  }
}
.show {
  display: flex;
}

.line {
  fill: none;
  transition: stroke-dasharray 400ms, stroke-dashoffset 400ms;
  stroke: #000;
  stroke-width: 5.5;
  stroke-linecap: round;
}

.home {
  margin-top: 5rem;
  overflow-x: hidden;
}
.home__top {
  width: 75%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  position: relative;
}
@media only screen and (max-width: 37.5em) {
  .home__top {
    width: 85%;
  }
}
@media only screen and (max-width: 56.25em) {
  .home__top {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
}
.home__top-left, .home__top-right {
  width: 50%;
}
@media only screen and (max-width: 56.25em) {
  .home__top-left, .home__top-right {
    width: 100%;
  }
}
.home__top-title {
  font-size: 4.8rem;
  letter-spacing: -0.96px;
  font-weight: 400;
  text-transform: capitalize;
}
@media only screen and (max-width: 56.25em) {
  .home__top-title {
    font-size: 3.5rem;
  }
}
.home__top-bold {
  font-weight: 700;
}
.home__top-transparent {
  background-clip: text;
  background-color: black;
  color: white;
  -webkit-text-stroke-color: transparent;
  -webkit-text-stroke-width: 0.0625em;
}
.home__top-text {
  color: #71717a;
  width: 60rem;
  margin: 5rem 0;
}
@media only screen and (max-width: 95em) {
  .home__top-text {
    width: 40rem;
  }
}
@media only screen and (max-width: 56.25em) {
  .home__top-text {
    margin: 2rem auto;
    width: 60rem;
  }
}
@media only screen and (max-width: 37.5em) {
  .home__top-text {
    width: auto;
  }
}
.home__top-links {
  width: 28rem;
  display: flex;
  justify-content: space-between;
  list-style: none;
}
@media only screen and (max-width: 56.25em) {
  .home__top-links {
    margin: 0 auto;
  }
}
.home__top-links-item {
  cursor: pointer;
  display: flex;
  width: 5.6rem;
  height: 5.6rem;
  padding: 1.6rem;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  border: 2px solid black;
  transition: all 0.3s;
}
.home__top-links-item:hover {
  transform: translate(-3px, -3px);
  box-shadow: 3px 3px 1px black;
}
.home__top-links-item:hover .home__top-link {
  color: white;
  transition: all 0.3s;
}
.home__top-link {
  color: black;
}
.home__top-icon {
  width: 3rem;
  height: 3rem;
}
.home__top-img {
  position: absolute;
  right: 0;
}
@media only screen and (max-width: 75em) {
  .home__top-img {
    width: 50rem;
    z-index: -1;
    opacity: 0.7;
  }
}
@media only screen and (max-width: 56.25em) {
  .home__top-img {
    bottom: -20%;
    right: -20%;
    width: 35rem;
  }
}
@media only screen and (max-width: 37.5em) {
  .home__top-img {
    display: none;
  }
}
.home__skills {
  width: 75%;
  margin: 0 auto;
  margin-top: 10rem;
  position: relative;
}
@media only screen and (max-width: 37.5em) {
  .home__skills {
    width: 85%;
  }
}
.home__skills-title {
  width: 50rem;
  margin: 0 auto;
  font-size: 4.8rem;
  text-transform: capitalize;
  text-align: center;
  position: relative;
  top: 5px;
}
@media only screen and (max-width: 37.5em) {
  .home__skills-title {
    width: auto;
  }
}
.home__skills-title-back {
  width: 50rem;
  margin: 0 auto;
  background-clip: text;
  background-color: black;
  color: white;
  -webkit-text-stroke-color: transparent;
  -webkit-text-stroke-width: 0.0625em;
  font-size: 5.5rem;
  text-transform: capitalize;
  text-align: center;
  position: absolute;
  top: 0;
  z-index: -1;
  left: 50%;
  transform: translate(-50%, 0);
  opacity: 0.5;
}
.home__skills-list {
  list-style: none;
  display: flex;
  width: 85rem;
  margin: 0 auto;
  margin-top: 3rem;
  flex-wrap: wrap;
  justify-content: center;
}
.home__skills-list-item {
  border: 1px solid black;
  padding: 1rem;
  margin: 1rem;
  border-radius: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
}
@media only screen and (max-width: 56.25em) {
  .home__skills-list {
    width: auto;
  }
}
.home__skills-icon {
  margin-right: 1rem;
  width: 5rem;
  height: 5rem;
}
.home__skills-more {
  font-size: 2.5rem;
  font-weight: 700;
  text-transform: capitalize;
  text-align: center;
  margin-top: 3rem;
}
.home__about {
  width: 75%;
  margin: 0 auto;
  margin-top: 10rem;
  display: flex;
  justify-content: space-between;
}
@media only screen and (max-width: 37.5em) {
  .home__about {
    width: 85%;
  }
}
@media only screen and (max-width: 37.5em) {
  .home__about {
    display: block;
  }
}
@media only screen and (max-width: 95em) {
  .home__about-img {
    width: 40rem;
  }
}
@media only screen and (max-width: 56.25em) {
  .home__about-img {
    width: 30rem;
  }
}
.home__about-left {
  display: flex;
  align-items: center;
}
.home__about-left, .home__about-right {
  width: 50%;
}
@media only screen and (max-width: 75em) {
  .home__about-left, .home__about-right {
    width: 100%;
  }
}
@media screen and (max-width: 600px) {
  .home__about-text-last {
    display: none;
  }
}
.home__about-text-bottom {
  width: 75%;
  margin: 0 auto;
  margin-top: 3rem;
}
@media only screen and (max-width: 37.5em) {
  .home__about-text-bottom {
    width: 85%;
  }
}
.home__about-title {
  font-size: 4.8rem;
  margin-bottom: 1rem;
}
@media only screen and (max-width: 56.25em) {
  .home__about-title {
    font-size: 3.5rem;
  }
}
.home__about-title span {
  background-clip: text;
  background-color: black;
  color: white;
  -webkit-text-stroke-color: transparent;
  -webkit-text-stroke-width: 0.0625em;
}
.home__projects {
  position: relative;
  margin-top: 10rem;
  background-color: black;
  z-index: 0;
  padding: 5rem 0;
}
.home__projects-title {
  font-size: 4.8rem;
  text-transform: capitalize;
  text-align: center;
  position: relative;
  top: 5px;
  color: white;
}
.home__projects-title-back {
  background-clip: text;
  background-color: white;
  color: black;
  -webkit-text-stroke-color: transparent;
  -webkit-text-stroke-width: 0.0625em;
  font-size: 5.5rem;
  text-transform: capitalize;
  text-align: center;
  position: absolute;
  top: 5rem;
  z-index: -1;
  left: 50%;
  transform: translate(-50%, 0);
  width: 50rem;
  opacity: 0.3;
}
@media only screen and (max-width: 37.5em) {
  .home__projects-title {
    margin-bottom: 10rem;
  }
}
.home__projects-link {
  margin-top: 2rem;
}
@media only screen and (max-width: 37.5em) {
  .home__projects-link {
    display: inline-block;
  }
}
.home__projects-btns {
  position: absolute;
  bottom: 4rem;
  z-index: 5;
}
.home__projects-btn {
  cursor: pointer;
}
.home__projects-tech {
  display: flex;
  list-style: none;
  width: 60rem;
  flex-wrap: wrap;
  margin-top: 1rem;
}
@media only screen and (max-width: 75em) {
  .home__projects-tech {
    width: 95%;
  }
}
@media only screen and (max-width: 37.5em) {
  .home__projects-tech {
    margin-bottom: 3rem;
  }
}
.home__projects-tech-item {
  border: 1px solid white;
  border-radius: 20px;
  padding: 1rem 1.5rem;
  margin: 5px 1rem;
  background-color: white;
  display: flex;
  align-items: center;
  font-weight: 600;
}
.home__projects-website {
  margin-left: 2rem;
}
@media only screen and (max-width: 37.5em) {
  .home__projects-website {
    margin-left: 0;
  }
}
.home__projects-name {
  color: white;
  font-size: 3rem;
}
@media only screen and (max-width: 56.25em) {
  .home__projects-name {
    margin-top: 3rem;
  }
}
.home__projects-text {
  margin-top: 3rem;
  font-size: 2rem;
  color: white;
}
.home__projects-icon {
  margin-right: 1rem;
  width: 3rem;
  height: 3rem;
  object-fit: contain;
}
@media only screen and (max-width: 75em) {
  .home__projects-icon {
    width: 2rem;
    height: 2rem;
  }
}
.home__projects-list {
  margin-top: 5rem;
}
.home__projects-list-left {
  width: 50%;
}
@media only screen and (max-width: 56.25em) {
  .home__projects-list-left {
    width: 110%;
  }
}
.home__projects-list-right {
  width: 50%;
}
@media only screen and (max-width: 56.25em) {
  .home__projects-list-right {
    width: 110%;
  }
}
.home__projects-list-item {
  width: 80%;
  height: 50rem;
  margin: 4rem auto;
  padding: 3rem;
  border-radius: 13px;
  display: flex;
  position: relative;
}
@media only screen and (max-width: 95em) {
  .home__projects-list-item {
    height: 40rem;
  }
}
@media only screen and (max-width: 56.25em) {
  .home__projects-list-item {
    display: block;
    height: auto;
    padding-bottom: 15rem;
  }
}
.home__projects-img {
  width: 90%;
  object-fit: cover;
  border-radius: 13px;
  box-shadow: 5px 5px 20px black;
}
.home__connect {
  position: relative;
  padding-top: 10rem;
  background-color: black;
  z-index: 0;
  padding: 5rem 0;
}
.home__connect-title {
  font-size: 4.8rem;
  text-transform: capitalize;
  text-align: center;
  position: relative;
  top: 5px;
  color: white;
}
@media only screen and (max-width: 56.25em) {
  .home__connect-title {
    width: auto;
  }
}
.home__connect-title-back {
  background-clip: text;
  background-color: white;
  color: black;
  -webkit-text-stroke-color: transparent;
  -webkit-text-stroke-width: 0.0625em;
  font-size: 5.5rem;
  text-transform: capitalize;
  text-align: center;
  position: absolute;
  top: 5rem;
  z-index: -1;
  left: 50%;
  transform: translate(-50%, 0);
  width: 50rem;
  opacity: 0.3;
}
.home__connect-list {
  display: flex;
  justify-content: center;
  width: 70%;
  margin: 0 auto;
  flex-wrap: wrap;
  margin-top: 3rem;
}
@media only screen and (max-width: 56.25em) {
  .home__connect-list {
    margin-top: 10rem;
  }
}
.home__connect-list-item {
  padding: 1rem 2rem;
  background-color: white;
  border-radius: 30px;
  margin: 1rem 3rem;
  display: flex;
  align-items: center;
  text-transform: capitalize;
  font-size: 3rem;
  font-weight: 700;
}
@media only screen and (max-width: 37.5em) {
  .home__connect-list-item {
    font-size: 2rem;
  }
}
.home__connect-link {
  text-decoration: none;
  display: flex;
  align-items: center;
}
.home__connect-icon {
  width: 6rem;
  height: 6rem;
  object-fit: cover;
  margin-right: 1rem;
}
@media only screen and (max-width: 56.25em) {
  .home__connect-icon {
    width: 3rem;
    height: 3rem;
  }
}
.home__connect-img {
  width: 40%;
}
.home__connect-img-container {
  display: flex;
  justify-content: center;
  margin-top: 3rem;
}

/*# sourceMappingURL=styles.css.map */
